
/* ---HEADER-SECTION--- */

.header {
    max-width: 1200px;
    margin: 0px auto;
    padding: 20px;
}

.header-wrapper {
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.flex-column-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/* ---LOGO--- */


.logo__part-left {
    color: #2196f3;
    background-color: #ffffff;
    font-family: "Raleway";
    font-size: 26px;
    line-height: 1, 17em;
    letter-spacing: 0, 03em;
}

.logo__part-right {
    color: #000000;
    background-color: #ffffff;
    font-family: "Raleway";
    font-size: 26px;
    line-height: 1, 17em;
    letter-spacing: 0, 03em;
}

/* ---/LOGO--- */


/* ---NAVIGATION--- */

.header__nav {

}

.nav__list {
    list-style-type: none;
    display: inline-block;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 14px;
    font-weight: 500;
    line-height: 1, 17em;
    color: #ffffff;
    background-color: #ffffff;
    padding: 0px;
    margin: 15px;
    display: flex;
    margin-left: 93px;
}

.nav__item {
    background-color: #ffffff;
    display: inline-block;
    justify-content: space-between;
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    align-items: center;
    margin-left: 46px;
    position: relative;

    &:hover,
    &:focus {
        color: #2196f3;
        cursor: pointer;
        transform: translateY(1);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover {
        color: #2196f3;
        cursor: pointer;
    }
}

.active::after {
    content: "";
    height: 3px;
    background-color: #2196F3;
    border-radius: 2px;
    position: absolute;
    top: 28px;
}

/* .active::after {
    content: "";
    display: block;
    position: relative;
    border-bottom: 4px solid #2196F3;
    border-radius: 2px;
    margin-top: -4px;
    top: 33px;
} */

.underline-active>li {
    position: relative;
}

/* ---/NAVIGATION-MAIN--- */


/* ---CONTACT--- */

.contact-main {

    display: inline-flex;
    align-items: center;
    width: 270px;
    justify-content: space-around;
    font-size: 14px;
    font-weight: 500;
    line-height: 1,17em;
    color: #ffffff;

    &__item-header {
    color: #000000;
    display: inline-flex;
}

    &__icon {
    display: flex;
    width: 16px;
    height: 12px;
    object-fit: contain;
    color: #757575;
}

    &__icon:hover {
    fill: #2196F3;
    cursor: pointer;
    transform: translateY(1);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
}

/* ---/CONTACT--- */

/* ---/HEADER-SECTION--- */