.main-headline {
    background-color: #2F303A;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url("../images/img17.jpg");
    max-width: 1600px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;


&__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 94px;
    padding-bottom: 94px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

&__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1, 36em;
    letter-spacing: 0, 06em;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #2f303a;
    width: 696px;
    height: 120px;
    background: none;
    margin-top: 100px;
}

&__button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

&__button {
    display: block;
    color: #F5F4FA;
    background-color: #2196F3;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 700;
    line-height: 1, 875em;
    letter-spacing: 0, 06em;
    text-decoration: none;
    text-align: center;
    border: 0px;
    border-radius: 4px;
    width: 200px;
    height: 50px;
}

&__button:hover {
    background-color: #2196f3;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #2196f3;
}
}