.newsletter-form {
    text-align: center;
    margin-top: 14px;
    width: calc(100vw - 30px);

    &__tittle {
        margin: 0;
        padding: 0;
        text-align: center;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--brand-second-color);
    }

    &__box {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__input {
        padding: 15px;
        padding-left: 16px;
        margin-bottom: 20px;
        background-color: #2f303a;
        border: 1px solid rgba(255, 255, 255, 0.3);
        color: var(--brand-second-color);
        border-radius: 4px;
        flex-grow: 2;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__icon {
        margin-left: 24px;
    }
}

@media screen and (min-width: 1200px) {

    //desktop
    .newsletter-form {
        text-align: left;
        margin-left: auto;
        width: 570px;

        &__tittle {
            margin: 0;
            padding: 0;
            text-align: left;
        }

        &__box {
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
        }

        &__input {
            width: 358px;
            margin-right: 12px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {

    // tablet
    .newsletter-form {
        width: calc(100vw - 30px);
        margin-top: 60px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    // mobile
}