.customers {
    padding-top: 94px;
    padding-bottom: 94px;
    display: block;
}

.customers-container {
    display: flex;
    flex-basis: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;

    &__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1, 17em;
    letter-spacing: 0, 03em;
    text-align: center;
    color: #212121;
    background-color: #ffffff;
}

    &__list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    &__list-item {
    margin-left: auto;
    align-items: center;
    padding-right: 30px;
}

    &__icon {
    width: 170px;
    height: 120px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: #AFB1B8;
    background-position: 50% 50%;
}

    &__icon:hover {
    fill: #2196F3;
    border: 1px solid #2196F3;
    cursor: pointer;
}

    &__icon-svg {
    width: 170px;
    height: 120px;
    padding-top: 25px;
}
}